
.editors-card {
    padding: 1.2rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 36px;
}
.recipe-info {
    display: flex;
    flex-direction: row;
}
.recipe-info div {
    display: flex;
    padding-right: 1rem;
    align-items: center;
}
.image-container {
    position: relative;
}
.like-icon {
    padding: 0.1rem;
    display: block;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}


.custom-icon {
    font-size: 24px;
  }
  