
.card-layout {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}


.cardImage {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
  }