body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif;
}

.Boxshadow {
  width: 50px;  /* Set the container's width */
  height: 50px; /* Set the container's height */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background: rgb(255, 255, 255); /* Initial background color */
  padding: 0; /* Set padding if you want to add space around the heart */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}





#main-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

svg:not(.icon){
  cursor: pointer;
  overflow: visible;
  width: 50px;
}

#heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}


#main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

.checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
